.cmp_link{
    background-image: ${properties.link};
    background-size: cover;
    opacity: 0.5;
}
.cmp_title{
    color: blue;
    text-align: center;
}
.cmp_content{
    color:darkblue;
    text-align: left;
    text-transform: uppercase;
}