.container{
        background-image: none;
}

.cmp-blade__title{
    text-align: center;
}
 .cmp-blade__text{
        color: purple;
}
.cmp-blade__link{
        opacity: 0.7;
}
 .cmp-blade__content{
        text-transform: lowercase;
        text-align: left;
}
