<!--/* byline.html 
    where the sling model is instantiated, uses a placeholder template
    and checks if the content of the byline is present in order to be rendered.*/-->
<div data-sly-use.bylineSample="com.adobe.aem.sample.core.models.Byline_Sample"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${!bylineSample.empty}"
    class="cmp-bylineSample">

    <div class="cmp-bylineSample__image"
        data-sly-resource="${ '.' @ resourceType = 'core/wcm/components/image/v2/image' }"></div>
    <h2 class="cmp-bylineSample__name">${bylineSample.name}</h2>
    <!--the tag below usses the HTL Expression operations. the example below is utilizing HTL
    expression operations in order to get the list of occupations and delimt them by use of commas and a space
HTL expression operations are added in HTL expression by the addition of the @ operator in HTL-->
    <p class="cmp-bylineSample__occupations">${bylineSample.occupation @ join=', '}</p>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>